PROJECT_NAME=access-control-management-system
PROJECT_TEMPLATE=management
PROJECT_STACK=react-csharp
PROJECT_DATABASE=postgres

BACKEND_PORT=18080
FRONTEND_PORT=13000

DB_HOST=db
DB_TYPE=postgres
DB_PORT=5432
DB_HOST_PORT=55432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=access-control-management-system_db
DB_SQLITE_PATH=./data/access-control-management-system.sqlite
DB_MONGO_URI=mongodb://db:27017/access-control-management-system_db

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=12h

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
